body {
    text-align: center;
    background-color: aqua;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

nav ul {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: Impact;



}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    margin: 50px;

}

main section {
    flex: 1;
    min-width: 280px;
    border: 30px solid blueviolet;
    padding: 20px;
    padding: 30px;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    font-size: 80px;
    color: red;
    border-radius: 10px;
    border: 30 solid blueviolet;
}

h2 {
    font-size: 50px;
    color: yellow;
}


@media (max-width: 500px) {
    nav {
        flex-direction: row;
        gap: 15px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }


    main {
        padding: 30px;
        margin: 15px;
        gap: 40px;

    }

    main section {
        flex: 1 1 100%;
        min-width: 100%;
    }

    h1 {
        font-size: 80px;
        color: black;
    }

    span {
        font-size: 75 px;
        color: green;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 48px;
        color: blueviolet;
    }

}

nav a {
    transition: color 0.5s ease;
}

nav a:hover {
    color: green;
}

button {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    transition: background-color 1s ease;
}

button:hover {
    background-color: pink;
    color: black;
}